@import url('https://fonts.googleapis.com/css2?family=lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Dancing+Script&family=PT+Serif&family=Playfair+Display:wght@400;600&family=Roboto+Condensed:wght@300&family=Sedgwick+Ave+Display&family=Source+Sans+Pro:wght@200&family=Source+Serif+Pro:wght@300;400&family=Ubuntu:wght@300&display=swap');

:root {
    --main-bg-color: blue;
}


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    border: 2px solid red;
    font-family: 'lato', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 85px;
    padding: 0 25px;
}

nav ul {
    display: flex;
    align-items: center;
    height: 58px;
}

nav ul li {
    list-style: none;
    padding: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;

}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 22px;
    width: 30vw;
    border-radius: 3px;
    margin: 0 5px 0 50px;
    padding: 0 15px;
}

.slider {
    margin: 12px auto;
    border: 2px solid black;
    overflow: hidden;
}

.container {
    min-height: calc(100vh - 58px - 15vh);
}

.card {
    max-width: 90vw;
    margin: auto;
    font-family: 'lato', sans-serif;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-item{
    /* width: 10vw; */
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 19px;
}

.card h2 {
    font-family: 'PT Serif', serif;
}

footer {
    background-color: var(--main-bg-color);
    height: 15vh;
    color: white;
    font-family: 'lato', sans-serif;
}